* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    border: 10px solid orange;
		display: flex;
		background: $color-breze;
}

.container__topbar {
    //border: 2px solid green;
    width: 90%;
    height: 40px;
    position: fixed;
    z-index: 1;
    text-align: right;
		padding: 10px;
		background: $color-white;
}

.sidebar {
    border: 2px solid red;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.container__content {
    margin: 6% 1% 0;
    width: 900px;
		height: 900px;
		background: $color-white;
		//border: 1px solid $color-breze;
		.content__row {
			height: 40%;
		}
}

.container__content *{
	border: 1px solid $color-breze;
}
